main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 50px);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: calibri;
    overflow: hidden;
}

footer {
    text-align: center;
    height: 50px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

h1#page-title {
    font-size: 45px;
    color: #4f545d;
    font-weight: lighter;
}

button#mode-selector {
    background: #4f545d;
    color: #fff;
    padding: 20px 50px;
    font-size: 25px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

button#mode-selector:hover {
    opacity: .8;
}

.dark-mode main {
    background: #000000;
}

button.dark-mode {
    background: #fff !important;
    color: #4f545d !important;
}

.dark-mode h1#page-title {
    color: #fff;
}